<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Alphaleaf Test Suite">

    <!-- Smoke Test context -->
    <test name="smoke">
        <classes>
            <!-- first class -->
            <class name="tests.AccountTest">
                <methods>
                    <include name="verifyUserInfoUpdate"/>
                    <include name="verifyAccountDeletion"/>
                </methods>
            </class>
            <!-- second class -->
            <class name="tests.CheckoutModuleTest">
                <methods>
                    <include name="verifyUserCanCheckout"/>
                </methods>
            </class>
        </classes>
    </test>


</suite>